.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top, #0054a4, #ffffff); // Blue at the bottom, white at the top
  color: #ffffff; // White text
  font-family: 'Arial', sans-serif;
}

.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; // Adjust spacing for logo and title
}

.menu-logo {
  width: 100px; // Adjust logo size
  margin-bottom: 10px; // Add space between logo and title
  margin-top: -30px; // Raise the logo a bit higher
}

.menu-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff; // White text for the title
}

.menu-buttons {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.menu-button {
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #0054a4; // TU Wien blue for button text
  background-color: #ffffff; // White button background
  border: 2px solid #0054a4; // TU Wien blue border
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #0054a4;
    color: #ffffff;
  }
}
.menu-placeholders {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .placeholder-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; // Adjust to limit the row width
    margin-bottom: 10px;

    p {
      margin: 0 10px;
      font-size: 16px;
      color: white;
      text-align: center;
    }

    strong {
      font-weight: bold;
    }
  }
}

